* {
  font-family: Iosevka Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

button {
  border: none;
}

button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 5px;
  color: #f53c3c;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#idle_inhibitor,
#cpu,
#memory,
#battery,
#backlight,
#pulseaudio,
#network,
#clock {
  padding: 0 10px;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  background-color: transparent;
}

#battery.charging {
  color: #99ff00;
}

#battery.warning:not(.charging),
#idle_inhibitor.activated {
  color: #ffa500;
}

#battery.critical:not(.charging),
#pulseaudio.muted,
#network.disconnected {
  color: #f53c3c;
}

#workspaces button {
  color: #444444;
}
#workspaces button.empty {
  color: #666666;
}
#workspaces button.active {
  color: #aaaaaa;
}
#workspaces button.focused {
  color: #ffffff;
}
