!--------------!
! URXVT CONFIG !
!--------------!

URxvt.internalBorder:	30
URxvt.scrollBar:	false
URxvt.letterSpace:	-1
URxvt.cursorColor:	#bdaaa7
URxvt.font: xft:Fira Code Retina:size=14,xft:Font Awesome 5 Pro:size=8

